html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#maincontainer {
  background-color: rgb(230, 230, 250);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/Pike_Place_Market_Seattle.jpg");
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  position: static;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.centerblock {
  width: 60%;
  margin: 10px auto;
  padding: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(173, 216, 230);
  background-color: rgba(173, 216, 230, 0.95);
  border-radius: 10px;
  border: 1px solid white;
}

h1 {
  font-family: 'Baloo Paaji', cursive;
  text-align: center;
  font-size: 42px;
  padding: 0;
  margin: 0;
  color: rgb(25,25,112);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2 {
  font-family: Times;
  text-align: center;
  padding: 5px;
  color: rgb(46,139,87);
  font-weight: bold;
}

.blocktext {
  width: 80%;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.7);
  margin: auto;
  border-radius: 10px;
  padding: 5px;
  border: black 1px solid;
}

.paragraphtext {
  font-family: Arial;
  font-size: 20px;
  text-align: justify;
  margin: 5px;
  border: 1px;
  padding: 5px;
  text-indent: 2em;
}

#filldivbar {
  background-image: url("http://www.printawallpaper.com/upload/designs/old-compass-on-world-map.jpg");
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#quoteheader {
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  color: rgb(250,128,114);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.listholder {
  background-color: white;
  border-radius: 10px;
  width: 95%;
  height: 80%;
  margin: auto;
  font-family: Arial;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 5px 0;
  font-size: 18px;
}

img {
  display: block;
  width: 80%;
  margin: 5px auto;
  padding: auto;
}

hr {
  width: 80%;
  margin-top: -20px;
  height: 2px;
  background-color: black;
  border: none;
}

.holdblock {
  background-color: teal;
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
  overflow: scroll;
}

a {
  font-family: Arial;
  font-size: 20px;
}

a:hover {
  font-weight: bold;
}

nav {
  list-style-type: none;
  padding: 10px;
}

nav li {
  display:inline-block;
  margin: auto 5px;
}

#navbar {
  width: 60%;
}

#navtitleholder {
  margin: 0 auto;
  width: 60%;
}

#navimageleft {
  width: 130px;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

#navimageright {
  width: 130px;
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
}

#navtitle {
  display:inline-block;
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  width: calc(100% - 260px);
}

.blockleftimage {
  padding: 5px;
  float: left;
}

.blockcenterimage {
  width: 60%;
  margin: auto;
}

.merchhold {
  width: auto;
  height: 200px;
  padding: 10px;
  margin: 5px;
  outline: 1px solid gray;
}

.merchimage {
  height: auto;
  width: 200px;
  float: left;
  border-radius: 10px;
  margin: 0 15px 0 0;
  position: relative;
  left: 0px;
  top: 0px;
}

.merchtext {
  font-family: Arial;
  font-size: 20px;
  text-align: justify;
  margin: 5px;
  border: 0;
  padding: 0;
}

.genimage {
  border-radius: 10px;
  border: 1px solid darkgray;
}

figcaption {
  text-align: center;
  font-family: serif;
  font-size: 18px;
}

table {
  table-layout: fixed;
  width: 1200px;
  border: 1px solid black;
  background-color: rgb(95, 158, 160);
  border-spacing: 0;
}

th, td {
  height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  text-align: center;
  font-family: Arial;
}

.tableblock {
  border-radius: 0;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(even) {
  background-color: rgb(211, 211, 211);
}

.tableheader {
  background-color: rgb(224, 255, 255);
}

.finalrow {
  background-color: rgb(72, 209, 204);
}

.form_holder {
  width: 60%;
  margin: auto;
  padding: 10px;
  background-color: rgb(167, 167, 240);
  border-radius: 10px;
  border: 1px solid rgb(100, 100, 240);
}

#new_store {
  text-align: center;
  display: block;
  margin: auto;
}

.form_label {
  width: 260px;
  font-family: Arial;
  font-size: 20px;
  margin: auto;
}

.form_input {
  margin: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  display: block;
}

.submit {
  text-align: center;
  border-radius: 10px;
}

button {
  padding: 5px 15px;
  background: #ccc;
  width: 160px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 18px;
}

input[type=text] {
  width: 40%;
  border-radius: 5px;
  padding: 1px 1px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 20px;
}

#feedback {
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
